
* {
    font-family: Monserrat sans-serif;
}

.container {
    max-width: 100%;
}

.header {
    background-color: rgb(231, 229, 224);
}

.header-top {
    display: flex;
    justify-content: center;
    background-color: rgb(47 47 46);
    opacity: 0.6;

}

.title h3 {
    color: rgb(66, 64, 66);
}

.header-top a {
    text-decoration: none;
    margin: 60px;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.header-top a:hover {
    background-size: 100% 2px;
}

.divider {
    border: solid 1px rgb(233, 226, 226);
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.header-logo {
    margin-left: 193px;
    display: grid;
    grid-template-columns: 200px 400px;
    column-gap: 41%;
}

.header-main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.header-main img {
    width: 100%;
    height: 100%;
}

.about-title {
    text-align: center;
    margin-top: 60px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 654px 455px;
    column-gap: 122px;
    padding-top: 60px;
    margin-left: 42;
}

.about-item {
    padding: 35px;
    background-color: #cacaca;
    border-radius: 20px;
    box-shadow: 5px 5px 25px;
    margin-left: 164px;
}

.about-descr {
    display: grid;
    grid-template-columns: 882px;
    justify-content: center;
    background-color: #cacaca;
    border-radius: 20px;
    box-shadow: 5px 5px 25px;
    margin-top: 88px;
    padding-top: 28px;
    height: 250px;
    width: 933px;
    margin-left: 15%;
}

.education {
    background-color: rgb(210 212 210);
}

.education-header {
    text-align: center;
    margin-top: 60px;
}

.education-diplom {
    text-align: center;
    padding-top: 100px;
}

.education-diplom img {
    margin-top: 30px;
    box-shadow: 3px 3px 20px;
}

.footer {
    background-color: rgb(69, 71, 71);
    margin-top: 50px;
    height: 200px;
}

.footer-title {
    color: azure;
    text-align: center;
    padding-top: 5px;
}

.footer-title h2 {
    margin-top: 20px;
    margin-left: 25px;
}

.btn-primary {
    margin-left: 45%;
    margin-top: 10px;
    color: azure;
    border: solid azure 1px;
    background-color: rgb(69, 71, 71);
}

.btn:hover {
    background-color: azure;
    color: black;
    transition: 0.6s;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 20px;
}

.icons i {
    margin-left: 30px;
    color: azure;
    font-size: 30px;  
}

.icons i:hover {
    color: orangered;
    transition: 0.6s;
}



    /* @Media адаптация */

@media (max-width: 1200px) {

    .header-logo {
        column-gap: 32%;
    }

    .about-wrapper {
        column-gap: 60px;
        margin-left: -60px;
    }

    .about-descr {
        margin-left: 11%;
    }
}

@media (max-width: 1024px) {

    .about-wrapper {
        grid-template-columns: 475px 433px;
        column-gap: 65px;
        margin-left: 2px;
        
    }

    .about-item {
        margin-left: 49px;
    }

    .about-descr {
        width: 795px;
        grid-template-columns: 706px;
        margin-left: 12%;
    }

    .header-logo {
        column-gap: 20%;
        margin-left: 175px;
    }

}

@media (max-width: 768px) {

    .divider {
        display: none;
    }

    .header-top {
        display: none;
    }

    .header-logo {
        margin-left: 85px;
        column-gap: 8%;
        grid-template-columns: 200px 369px;
        padding-top: 53px;
    }

    .about-descr {
        grid-template-columns: 546px;
        width: 629px;
        margin-left: 8%;
        height: 100%;
    }

    .about-item {
        margin-left: 107px;
    }

    .about-wrapper {
        grid-template-columns: 637px;
        row-gap: 122px;
        margin-left: 2px;
    }

    .about-img {
        margin-left: 140px;
    }

    .btn-primary {
        margin-left: 40%;
    }

}



@media (max-width: 540px) {
    .divider {
        display: none;
    }

    .header-top {
        display: none;
    }

    .header-logo {
        margin-left: 73px;
        grid-template-columns: 200px 174px;
        column-gap: 2%;
        padding-top: 40px;
    }

    .about-wrapper {
        grid-template-columns: 398px;
        row-gap: 70px;
        padding-top: 60px;
        margin-left: 48px;
        
    }

    .title {
        margin-top: 20px;
    }

    .about-item {
        margin-left: 6px;
    }

    .about-img img {
        width: 100%;
    }

    .about-descr {
        grid-template-columns: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 25px;
        margin-top: 88px;
        padding: 28px;
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }

    .education-diplom img {
        margin-top: 30px;
        box-shadow: 3px 3px 20px;
        width: 100%;
    }

    .btn-primary {
        margin-left: 31%;
    }

    .icons {
        margin-left: -23px;
    }
}



@media (max-width: 425px) {

    .divider {
        display: none;
    }

    .header-top {
        display: none;
    }

    .header-logo {
        margin-left: 10px;
        grid-template-columns: 200px 174px;
        column-gap: 2%;
        padding-top: 40px;
    }

    .about-wrapper {
        grid-template-columns: 398px;
        row-gap: 70px;
        padding-top: 60px;
        margin-left: -3px;
        
    }

    .about-item {
        margin-left: 6px;
    }

    .about-img img {
        width: 100%;
    }

    .about-descr {
        grid-template-columns: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 25px;
        margin-top: 88px;
        padding: 28px;
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }

    .education-diplom img {
        margin-top: 30px;
        box-shadow: 3px 3px 20px;
        width: 100%;
    }

    .btn-primary {
        margin-left: 31%;
    }

    .icons {
        margin-left: -23px;
    }

}

@media (max-width: 375px) {

    .divider {
        display: none;
    }

    .header-top {
        display: none;
    }

    .header-logo {
        margin-left: 0px;
        grid-template-columns: 178px 174px;
        column-gap: 0%;
        padding-top: 40px;
    }

    .title {
        margin-top: 25px;
        margin-left: 20px;
    }

    .title h1 {
        font-size: 25px;
    }

    .title h3 {
        font-size: 20px;
    }

    .about-wrapper {
        grid-template-columns: 355px;
        row-gap: 70px;
        padding-top: 60px;
        margin-left: -3px;
        
    }

    .about-item {
        margin-left: 6px;
    }

    .about-img img {
        width: 100%;
    }

    .about-descr {
        grid-template-columns: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 25px;
        margin-top: 88px;
        padding: 28px;
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }

    .education-diplom img {
        margin-top: 30px;
        box-shadow: 3px 3px 20px;
        width: 100%;
    }

    .btn-primary {
        margin-left: 25%;
    }

    .icons {
        margin-left: -23px;
    }

    .footer-title {
        margin-left: -21px;
    }
}

@media (max-width: 320px) {

    .divider {
        display: none;
    }

    .header-top {
        display: none;
    }

    .header-logo {
        display: block;
        margin-left: 60px;
        grid-template-columns: 178px 174px;
        column-gap: 0%;
        padding-top: 40px;
    }

    .title {
        margin-top: 25px;
        margin-left: 10px;
    }

    .title h1 {
        font-size: 23px;
        margin-left: -21px;
    }

    .title h3 {
        font-size: 17px;
        margin-left: -21px;
    }

    .about-wrapper {
        grid-template-columns: 100%;
        row-gap: 70px;
        padding-top: 60px;
        
    }

    .about-item {
        margin: 0;
    }

    .about-img img {
        width: 100%;
    }

    .about-descr {
        grid-template-columns: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 25px;
        margin-top: 88px;
        padding: 28px;
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }

    .education-diplom img {
        margin-top: 30px;
        box-shadow: 3px 3px 20px;
        width: 100%;
    }

    .btn-primary {
        margin-left: 21%;
    }

    .icons {
        margin-left: -23px;
    }

    .footer-title {
        margin-left: -21px;
    }
}



